.navbar{
    background-color:transparent;
    display: flex;
}
body{
    background-image: linear-gradient(
        135deg,
         rgb(72, 229, 10)0%,
         rgb(86, 161, 45) 69%,
         rgb(149, 172, 32)89%);
}