<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
/>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
/>

<!-- Navbar -->
 
<nav class="navbar navbar-expand-lg navbar-dark ">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Mortada Ismail Almosawi</a>
    <button
      class="navbar-toggler"
      type="button"
      (click)="basicNavbar.toggle()"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

   
    <div
      class="collapse navbar-collapse"
      id="navbarSupportedContent"
      mdbCollapse
      #basicNavbar="mdbCollapse"
    >

      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a routerLink="/" class="nav-link active" aria-current="page">Home</a>
        </li>
        <li class="nav-item">
          <a routerLink="/about" class="nav-link">About me</a>
        </li>
       
      </ul>
      <ul class="navbar-nav ms-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a href="https://github.com/TheDuss" class="nav-link"
            ><i class="fab fa-github"></i
          ></a>
        </li>
        <li class="nav-item">
          <a
            href="https://www.facebook.com/people/Mortada-Ismail-Almosawi/pfbid02ZYLoKdidNmX4X7R6UpibbKu4ScSfxBKr4B8VwYLMfnqr9tCXSAdm6nuLcwXNmcNrl/"
            class="nav-link"
            ><i class="fab fa-facebook-f"></i
          ></a>
        </li>
        <li class="nav-item">
          <a
            href="https://www.linkedin.com/in/mortada-almosawi"
            class="nav-link"
          >
            <i class="fab fa-linkedin-in"></i>
          </a>
        </li>
      </ul>
    
    </div>
    
  </div>
 
</nav>


