<div class="container">
  <div class="profile">
    <h3>
      Im an energetic 31-year-old man, recently graduated as a softwareengineer,
      who daily takes pleasure in seeking new knowledge. I ammotivated by the
      challenge of solving complex problems throughcoding, which is why I have
      chosen the software technology track.From my time as a dance instructor, I
      learned how to lead andmaintain my head cool in stressful situations and
      also how to worktogether as a team, which I have used a lot in different
      projects.
    </h3>
  </div><br>
  <div class="downloadbtn">
    <button
      type="button"
      class="btn btn-primary btn-rounded"
      (click)="downloadFile()"
      mdbRipple
    >
      Download CV
    </button>
  </div><br>
  
    <app-education></app-education><br />
    <app-work></app-work><br />
    <app-voluntarywork></app-voluntarywork>
 
</div>
