<div class="container">
    <div class="main">
      <h1>Welcome to my resume <br><span class="creative">My Name Is Mortada</span> </h1>
      <p>Im an energetic 31-year-old man, recently graduated as a softwareengineer, who daily takes pleasure in seeking new knowledge. I ammotivated by the challenge of solving complex problems throughcoding, which is why I have chosen the software technology track.From my time as a dance instructor, I learned how to lead andmaintain my head cool in stressful situations and also how to worktogether as a team, which I have used a lot in different projects.</p>
  
    </div>
  </div>