<div class="container">
  <div class="main">
    <div wr>
      <h1>
        Hello everyone!
        <div class="wave">👋🏼</div>
      </h1>

      <div class="creative">My name is <b>Mortada</b></div>
      <div class="attributes-container">
        <div class="creative-text-left">• Energetic 31-year-old man.</div>
        <div class="creative-text-right">
          • Graduated as a softwareengineer.
        </div>
        <div class="creative-text-left">• Team player at heart.</div>
      </div>
    </div>
    <div>
      <img
        src="/assets/image/me-black-white.jpg"
        class="img"
        alt="Profile Image"
      />
    </div>
  </div>
</div>
