.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2rem;

  @media (max-width: 480px) {
    flex-direction: column;
    gap: 1rem;
  }
}

.img {
  width: 20rem;
  height: 25rem;
  border-radius: 10px;

  opacity: 0;
  animation: floatInFromRight 1s ease-out forwards, fadeIn 1s ease-in;

  @media (max-width: 480px) {
    width: 19rem;
    height: 24rem;
  }
}

h1 {
  font-size: 3rem;
  clear: both;
  font-style: normal;
  color: white;

  opacity: 0;
  transform: translateY(50px);
  animation: floatInFromBot 1s ease-out forwards, fadeIn 1s ease-in;

  @media (max-width: 480px) {
    font-size: 2rem;
    text-align: center;
  }
}

.creative {
  color: aquamarine;
  font-size: 2rem;
  text-align: center;

  opacity: 0;
  transform: translateY(50px);
  animation: floatInFromLeft 1s ease-out forwards, fadeIn 1s ease-in;

  @media (max-width: 480px) {
    font-size: 1.5rem;
  }
}

.creative-text-right {
  color: aquamarine;
  font-size: 1.5rem;
  text-align: right;
  padding-top: 2rem;

  opacity: 0;
  transform: translateY(50px);
  animation: floatInFromRight 2s ease-out forwards, fadeIn 2s ease-in;

  @media (max-width: 480px) {
    font-size: 1rem;
    padding-top: 1rem;
  }
}

.creative-text-left {
  color: aquamarine;
  font-size: 1.5rem;
  padding-top: 2rem;

  opacity: 0;
  animation: floatInFromLeft 2s ease-out forwards, fadeIn 2s ease-in;

  @media (max-width: 480px) {
    font-size: 1rem;
    padding-top: 1rem;
  }
}

.attributes-container{
  display: flex;
  flex-direction: column;
  align-content: flex-end;
}

p {
  color: white;
}

.wave {
  animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s; /* Change to speed up or slow down */
  animation-iteration-count: infinite; /* Never stop waving :) */
  transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(16deg);
  }
  20% {
    transform: rotate(-6deg);
  }
  30% {
    transform: rotate(16deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(16deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}


